:root{
    --coloraqua: aqua;
    --txtcolor: rgba(52, 52, 96, 0.99);
    --imgopacity: 0.6;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 78, 78);
    height: 75px;
}

header h1{
    flex-basis: 400px;
    text-align: right;
    padding: 5px;
    background-color: var(--coloraqua);   
    border-radius: 0 6px 6px 0;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    height: auto;
}

header nav ul li a{
    color:  var(--coloraqua);
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

/* Learnt from Codepen Website*/
.navhover li a {
    background:  linear-gradient( rgb(82, 78, 78) 50%,  var(--coloraqua) 50%,  var(--coloraqua));
    background-size: 100% 200%;
    transition: .4s;
  }
  
.navhover li a:hover {
    background-position: 100% 100%;
    color: black;
  }

.bgimage{
    display: flex;
    position: relative;
  }

.bgimage img{   
    height: 180px;
    width: 100%;
}

.bgimage div p{
    position: absolute;
    background-color:  var(--coloraqua);
    color: black;
    font-size: 30px;
    right:20px;
    bottom: 10px;
    border-radius: 6px;
    width: fit-content;
}

.profilepic{
    position: absolute;
    margin-left: 30px;
    margin-top: 15px;
}

.aboutme,
.contacts,
.work{
    margin-left: 100px;
    margin-right: 100px;
} 

.aboutme{
    display:flex;
    margin-top: 10px;
}

.aboutme h2{
    border-right: 3px solid var(--txtcolor);
    color:  var(--txtcolor);
    padding-left: 42px;
    font-size: 60px;
    text-align: right;
    padding-right: 5px;
    flex-basis: 50px;
}

.aboutme-p p{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: small;
}

.work{
    display: flex;
    margin-top: 20px;
    /* height: 600px; */
}

.work h2{
    border-right: 3px solid  var(--txtcolor);  
    color:  var(--txtcolor);
    padding-left: 56px;
    font-size: 60px;
    text-align: right;
    padding-right: 5px; 
}

.images{
    display: flex;
    flex-wrap: wrap;
    margin-left : 20px;
    width: 100%;
}

.images > a {
    margin: 5px;
}

.img1 { 
    border: 3px solid  var(--coloraqua);
    flex: 1 0 95%;
    height: 350px;
    position: relative;
}

.img1::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./Horiseon.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: var(--imgopacity);
}

.img1:hover::before{
    opacity: 1;
}

.img2{
    border: 3px solid  var(--coloraqua);
    flex: 1 0 45%;
    position: relative;
    height: 200px;
}

.img2::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./led-wall.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.img2:hover::before{
    opacity: 1;
}

.img3{
    border: 3px solid  var(--coloraqua);
    flex: 1 0 45%;
    position: relative;
    height: 200px;
}

.img3::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./calculator.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.img3:hover::before{
    opacity: 1;
}

.img4{
    border: 3px solid  var(--coloraqua);
    flex: 1 0 45%;
    position: relative;
    height: 200px;
}

.img4::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./pastelpuzzle.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.img4:hover::before{
    opacity: 1;
}

.img5{
    border: 3px solid  var(--coloraqua);
    flex: 1 0 45%;
    position: relative;
    height: 200px;
}

.img5::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./run-buddy.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.img5:hover::before{
    opacity: 1;
}


.label {
    position: absolute;
    bottom: 10px;
    left:0;
    padding: 3px;
    font-weight: bold;
    font-family: serif;
    background-color:  var(--coloraqua);
    color: black;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover{
    opacity: 1;
    cursor: pointer;
}

.images > * p{
    font-style: italic;
    font-size: smaller;
}

.contacts{
    display: flex;
    height: 130px;
    margin-top: 10px; 
}

.contacts h2{
    border-right: 3px solid  var(--txtcolor);
    color:  var(--txtcolor);
    font-size: 60px;
    text-align: right;
    padding-right: 5px;
    flex-basis: 50px;
}
.navcontacts{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 67%;
    align-items: center;
}

.navcontacts a{
    text-decoration: none;
}
.navcontacts a {
    background:  linear-gradient( white 50%,  var(--coloraqua) 50%,  var(--coloraqua));
    background-size: 100% 200%;
    transition: .4s;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.navcontacts  a:hover {
    background-position: 100% 100%;
    color: black;
}

@media screen and (max-width: 768px) {

    body{
        font-family: monospace;
    }
    header{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        padding-bottom: 10px;
    }    
    header h1{
        flex-basis: auto;
        width: 100%;
        text-align: center;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;  
        margin-top: 10px;
    }
    header nav ul li a{
      font-size: 25px;
    }
    .bgimage img{
        height: 220px;
    }
    .bgimage p{
        left:20px;
    }
    .aboutme,
    .contacts,
    .work{
    margin-left: 10px;
    margin-right: 10px;
    } 
    .aboutme,
    .work,
    .contacts,
    .navcontacts{
        flex-direction: column;
        justify-content: flex-start;
    }
    .aboutme h2,
    .work h2,
    .contacts h2
    {
        text-align: left;
        border-bottom:3px solid var(--txtcolor) ;
        border-right: 0px;
        font-family: monospace;
    }
    .aboutme h2,
    .work h2
    {
        padding-left: 0;
    }
    .aboutme
    {
        height: auto;
    }
    .aboutme p,
    .images
    {
        margin-left: 0;
    }
    .images{
        flex: 1 0 50%;
    } 
    .img1,
    .img2,
    .img3,
    .img4,
    .img5{
        flex-basis: 100%;
    }
    .img1{
        height: 200px;
    }
    .imgbox > * p{
         font-family:  monospace;
    }
    .navcontacts{
        align-items: flex-start;
        justify-content: space-between;
       
    }
    .navcontacts a{
        font-size: 25px;
        padding: 5px;
    }
    .contacts{
       height: 350px;
    }
}
    
