* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 78, 78);
    height: 75px;
}

header h1{
    flex-basis: 500px;
    text-align: right;
    padding: 5px;
    background-color: aqua;
    
}
header ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    height: auto;
}

header nav ul li a{
    color: aqua;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}
/* Learnt from Codepen Website*/
.navhover li a {
    background:  linear-gradient( rgb(82, 78, 78) 50%, aqua 50%, aqua);
    background-size: 100% 200%;
    transition: background .4s;
  }
  .navhover li a:hover {
    background-position: 100% 100%;
    color: black;
  }

.bgimage img{
    height: 150px;
    width: 100%;
}

.bgimage img{
    position: relative;
}

.bgimage p{
    position: absolute;
    background-color: aqua;
    color: black;
    right:100px;
    bottom: 525px;
}
.aboutme,
.contacts,
.work{
    margin-left: 100px;
    margin-right: 100px;
} 

.aboutme{
    display:flex;
    height: 150px;

}

.aboutme h2{
    border-right: 3px solid rgba(52, 52, 96, 0.99);
    color: rgba(52, 52, 96, 0.99);
    padding-left: 42px;
    font-size: 60px;
    text-align: right;
    padding-right: 5px;
    /* flex-basis: 300px; */
}

.aboutme p{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: small;
}
.work{
    display: flex;
    margin-top: 20px;
    height: 400px;

}
.work h2{
    border-right: 3px solid rgba(52, 52, 96, 0.99);  
    color: rgba(52, 52, 96, 0.99);
    padding-left: 56px;
    font-size: 60px;
    text-align: right;
    padding-right: 5px;
}

.images{
    display: flex;
    height: 50px;
    flex-wrap: wrap;
    margin-left : 20px;
    flex-basis: 100%;

}

.ids{
    border: 3px solid aqua;
    top: 0;
    padding-left: 10px;
    margin: 3px;
    flex: 1 0 380px;
    height: 90px;
}
.img1 { 
    flex-basis: 75%;
      height: 200px;
      position: relative;
      background-image: url("./surfreport.jpeg"); 
       background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.7;
    }

/* .img1 { 
    flex-basis: 75%;
      height: 200px;
      position: relative;
      background-image: url("./surfreport.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      
    }
  
    .img1::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-image: url("./surfreport.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
       background-color: rgba(0,0,0,0.25);
      opacity: 0.7;
    }
  
  .img1 .label1 {
    position: relative;
      bottom: 10px;
      left:0;
      padding: 3px;
      font-weight: bold;
      font-family: serif;
      background-color: aqua;
  } */ 


.img1 .label1,
.img2 .label2,
.img3 .label3,
.img4 .label4,
.img5 .label5
 {
    position: absolute;
    bottom: 10px;
    left:0;
    padding: 3px;
    font-weight: bold;
    font-family: serif;
    background-color: aqua;
}


.ids:hover{
    opacity: 1;
    cursor: pointer;
}

.img2{
    background-image: url("./led-wall.jpeg");
    opacity: 0.7;
    position: relative;
}

.img3{
    background-image: url("./calculator.jpeg");
    
    opacity: 0.7;
    position: relative;
}

.img4{
    background-image: url("./calculator.jpeg");
    opacity: 0.7;
    position: relative;
}

.img5{
    background-image: url("./run-buddy.png");
    opacity: 0.7;
    position: relative;
}

.ids > * p{
    font-style: italic;
    font-size: smaller;
}

.contacts{
    display: flex;
    height: 130px;
    margin-top: 10px; 
}

.contacts h2{
    border-right: 3px solid rgba(52, 52, 96, 0.99);
    color: rgba(52, 52, 96, 0.99);
    /* padding-left: 10px; */
    font-size: 60px;
    text-align: right;
    padding-right: 5px;
    flex-basis: 50px;
}
.navcontacts{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 67%;
    align-items: center;
}

.navcontacts a {
    background:  linear-gradient( white 50%, aqua 50%, aqua);
    background-size: 100% 200%;
    transition: background .4s;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }

  .navcontacts  a:hover {
    background-position: 100% 100%;
    color: black;
  }

@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100px;
    }
    
    header h1{
        flex-basis: auto;
        width: 100%;
        text-align: center;
    }
    
    header nav ul li a{
      font-size: 20px;
    }
    .bgimage img{
        height: 220px;
    }

    /* .bgimage p{
    display: inline-flex;
    font-size: 20px;
    } */
    .aboutme,
    .contacts,
    .work{
    margin-left: 10px;
    margin-right: 10px;
    } 

    .aboutme,
    .work,
    .contacts,
    .navcontacts{
        flex-direction: column;
        justify-content: flex-start;
    }

    .aboutme h2,
    .work h2,
    .contacts h2
    {
        text-align: left;
        border-bottom:3px solid rgba(52, 52, 96, 0.99) ;
        border-right: 0px;
    }

    .aboutme h2,
    .work h2{
        padding-left: 0;
    }
    .aboutme,
    .work{
        height: auto;
    }

    /* .ids .img1{
        margin-left: 0;
        /* text-align: left;
    } */
    .aboutme p{
        margin-left: 0;
        /* overflow: hidden; */
    }
    .navcontacts{
        align-items: flex-start;
        justify-content: space-between;
       
    }
    .navcontacts a{
        font-size: 25px;
        padding: 5px;
    }

    .contacts{
       height: 350px;

    }
}